.mod-visual {
  .ant-layout-header {
    .logo {
      margin-left: -40px;
      img {
        height: 80%;
      }
    }
  }
  .v-units,
  .v-editor {
    &.ant-layout-sider-has-trigger {
      padding-bottom: 36px;
      .ant-layout-sider-trigger {
        height: 36px;
        line-height: 36px;
      }
    }
    .anticon,
    .trigger {
      cursor: pointer;
      font-size: 14px;
      &:hover {
        color: #1890ff;
      }
    }
    .ant-card {
      .trigger {
        padding: 10px;
        margin: 0 -10px;
      }
      .ant-card-head {
        padding: 0 18px;
        margin-bottom: 0;
      }
      .ant-card-body {
        height: calc(~'100vh - 122px');
        overflow-x: hidden;
        overflow-y: overlay;
        padding: 0;
      }
    }
    .ant-collapse {
      border: 0;
      min-width: 200px;
      .ant-collapse-item,
      .ant-collapse-content {
        border-color: #f0f0f0;
      }
    }
    .ant-menu {
      border-right: 0;
      .ant-menu-item {
        width: 100%;
        padding: 0 !important;
        text-align: center;
      }
    }
  }
  .v-editor {
    width: 25%;
    min-width: 360px;
    background: #fff;
  }
}
