.v-layout {
  height: 100vh;
  .ant-layout-header,
  .ant-layout-sider {
    background: transparent;
  }

  .v-handler {
    height: 40px;
    line-height: 40px;
    text-align: right;
    border-bottom: 1px solid #d8d8d8;

    .ant-btn {
      color: #aaa;
      span {
        margin-left: 2px;
      }
      &:hover {
        color: #1890ff;
      }
    }
  }
  .v-menu {
    background: transparent;
    border-right: 1px solid #d8d8d8;
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .ant-menu {
      background: transparent;
      .ant-menu-item {
        margin: 0;
        .ant-icon {
          color: #888;
        }
      }
    }
  }
  .v-units {
    border-right: 1px solid #d8d8d8;
    .ant-card-small > .ant-card-body {
      padding: 0;
    }
    .ant-collapse {
      border-width: 1px 0;
    }
  }
  .v-container {
    background: #fff;
  }
  .v-path {
    height: 28px;
    line-height: 28px;
    padding: 0;
    border-top: 1px solid #d8d8d8;
  }
  .v-editor {
    border-left: 1px solid #d8d8d8;
    background: #fff;
  }
}
